@font-face {
  font-family: "Lexend";
  src: url("./fonts/Lexend-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Inter";
  src: url("./fonts/Inter-Regular.ttf") format("truetype");
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--slate-50, #f8fafc);
}

.image-container {
  text-align: center;
}

.title {
  color: var(--Slate-900, #0f172a);
  text-align: center;
  font-family: "Lexend", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: 38px;
}

.sub-title {
  color: var(--Slate-700, #334155);
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
